<div id="sign_in-form">
  <div class="content-box-lg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4 text-center">
          <div class="sign_in">
            <div class="form-s">
              <h2>サインアップ</h2>

              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>

                <div class="form-group">
                  <%= f.text_field :fullname, autofocus: true, placeholder: "フルネーム", class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.password_field :password, autocomplete: "new-password",placeholder: "Password", class: "form-control" %>
                </div>


                <div class="row">
                  <div class="col-md-12">
                    <div>
                      <% if devise_mapping.rememberable? %>
                        <%= f.check_box :remember_me, class: "form-check" %> このパスワードを覚える
                      <% end %>
                      <span class="pull-right">
                        <br><%= link_to "パスワードをお忘れですか？", new_user_session_path %>
                      </span>
                    </div>
                  </div>
                </div>


                <div class="actions">
                  <%= f.submit "サインアップ", class: "btn btn-primary" %>
                </div>
              <% end %>


            </div>

        </div>
      </div>
    </div>
  </div>

</div>
