<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="col-md-12">
        <div class="row">
          <div class="col-sm-4">
            <div class="container">
              <div class="carousel-caption text-left">
                <h1>有名人や人気インスタグラマーのコーデが知りたい。</h1>
                <p>ファッションを参考できるよ。</p>
                  <li><%= link_to "見る", 'http://localhost:3000/posts/show', class:"btn btn-lg btn-primary text-center" %></li>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <%= image_tag "people/p2.jpg", class: "responsive-img" %>
          </div>
          <div class="col-sm-2">
            <%= image_tag "people/p3.jpg", class: "responsive-img" %>
          </div>
          <div class="col-sm-2">
            <%= image_tag "people/p4.jpg", class: "responsive-img" %>
          </div>
          <div class="col-sm-2">
            <%= image_tag "people/p5.jpg", class: "responsive-img" %>
          </div>
          <div class="col-sm-2">
            <%= image_tag "people/p7.jpg", class: "responsive-img" %>
          </div>
          <div class="col-sm-2">
            <%= image_tag "people/p8.jpg", class: "responsive-img" %>
          </div>
          <div class="col-sm-2">
            <%= image_tag "people/p9.jpg", class: "responsive-img" %>
          </div>
          <div class="col-sm-2">
            <%= image_tag "people/p10.jpg", class: "responsive-img" %>
          </div>
          <div class="col-sm-2">
            <%= image_tag "people/p11.jpg", class: "responsive-img" %>
          </div>
          <div class="col-sm-2">
            <%= image_tag "people/p1.jpg", class: "responsive-img" %>
          </div>
        </div>

      </div>

    </div>
    <div class="carousel-item">
      <div class="col-md-12">
        <div class="row">

          <div class="col-sm-2">
            <%= image_tag "place/place9.jpg", class: "responsive-img" %>
          </div>
          <div class="col-sm-2">
            <%= image_tag "place/place10.jpg", class: "responsive-img" %>
          </div>
          <div class="col-sm-4">
            <div class="container-fluid">
              <div class="carousel-caption text-left">
                <h1>インス映えスポットがわかる！！</h1>
                <p>有名人たちが撮影している場所がわかる。</p>
                <p>
                  <li><%= link_to "探す", new_user_registration_path, class:"btn btn-lg btn-primary text-center" %></li>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <%= image_tag "place/place2.jpg", class: "responsive-img" %>
          </div>
          <div class="col-sm-2">
            <%= image_tag "place/place3.jpg", class: "responsive-img" %>
          </div>
          <div class="col-sm-2">
            <%= image_tag "place/place4.jpg", class: "responsive-img" %>
          </div>
          <div class="col-sm-2">
            <%= image_tag "place/place5.jpg", class: "responsive-img" %>
          </div>
          <div class="col-sm-2">
            <%= image_tag "place/place.jpg", class: "responsive-img" %>
          </div>
          <div class="col-sm-2">
            <%= image_tag "place/place6.jpg", class: "responsive-img" %>
          </div>
          <div class="col-sm-2">
            <%= image_tag "place/place7.jpg", class: "responsive-img" %>
          </div>
          <div class="col-sm-2">
            <%= image_tag "place/place8.jpg", class: "responsive-img" %>
          </div>
        </div>

      </div>
    </div>
    <div class="carousel-item">
      <div class="col-md-12">
        <div class="row">

          <div class="col-sm-2">
            <%= image_tag "items/item2.jpg", class: "responsive-img" %>
          </div>
          <div class="col-sm-2">
            <%= image_tag "items/item3.jpg", class: "responsive-img" %>
          </div>
          <div class="col-sm-2">
            <%= image_tag "items/item6.jpg", class: "responsive-img" %>
          </div>
          <div class="col-sm-2">
            <%= image_tag "items/item.jpg", class: "responsive-img" %>
          </div>
          <div class="col-sm-4">
            <div class="container">
              <div class="carousel-caption text-left">
                <h1>お気に入りの写真を投稿しよう。</h1>
                <p>共通の趣味で繋がれる。</p>
                <div class="row">
                  <div class="col-md-4">

                  </div>
                  <div class="col-md-4">
                    <p>
                        <li><%= link_to "始める", "http://localhost:3000/posts/new", class:"btn btn-lg btn-primary text-center" %></li>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <%= image_tag "items/item4.jpg", class: "responsive-img" %>
          </div>
          <div class="col-sm-2">
            <%= image_tag "items/item11.jpg", class: "responsive-img" %>
          </div>
          <div class="col-sm-2">
            <%= image_tag "items/item7.jpg", class: "responsive-img" %>
          </div>
          <div class="col-sm-2">
            <%= image_tag "items/item5.jpg", class: "responsive-img" %>
          </div>
          <div class="col-sm-2">
            <%= image_tag "items/item6.jpg", class: "responsive-img" %>
          </div>
          <div class="col-sm-2">
            <%= image_tag "items/item4.jpg", class: "responsive-img" %>
          </div>
        </div>

      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
      <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
      <p>New to Bootstrap?
        <a href="../../">Visit the homepage</a>
        or read our
        <a href="../../getting-started/">getting started guide</a>.</p>
    </div>
  </footer>
