<div class="form-s">
<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :title, autofocus: true, placeholder: "タイトル", class: "form-control"%>
  </div>
  <div class="form-group">
    <%= form.text_field :name, autofocus: true, placeholder: "名前", class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.text_field :age, autofocus: true, placeholder: "年齢", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.text_field :occupation, autofocus: true, placeholder: "職業", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.text_area :アウター, autofocus: true, placeholder: "アウター", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.text_area :トップス, autofocus: true, placeholder: "トップス", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.text_area :ボトムス, autofocus: true, placeholder: "ボトムス", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.text_area :バッグ, autofocus: true, placeholder: "バッグ", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.text_area :アクセサリー, autofocus: true, placeholder: "アクセサリー", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.text_area :comment, autofocus: true, placeholder: "コメント", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.file_field :image,  class: "btn btn-info btn-lg btn-block" %>
  </div>

  <div class="form-group">
    <%= form.text_field :location, autofocus: true, placeholder: "撮影場所", class: "form-control", id: "autolocation" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  <!-- または<br>
  <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-primary" %></td> -->
<% end %>

</div>


<script>
  $(function() {
    $("#autolocation").geocomplete();
  });
</script>
