<div class="container">
  <div class="row">
    <div class="col-md-12 text-center fluid">
      <div class="top-title">
        <h3>STYLE</h3>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-9 text-center">
      <p id="notice"><%= notice %></p>
      <p>
        <%= image_tag @post.image.url %>
      </p>


      <%= link_to 'Edit', edit_post_path(@post),class: "btn btn-primary btn-large" %> |
      <%= link_to '投稿一覧', posts_path, class: "btn btn-primary btn-large"%>



    </div>

    <div class="col-md-3">
      <div class="person-lists">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Name: <%= @post.name %></li>
          <li class="list-group-item">age: <%= @post.age %></li>
          <li class="list-group-item">Occupation: <%= @post.occupation %></li>
          <li class="list-group-item">アウター: <%= @post.アウター %></li>
          <li class="list-group-item">トップス: <%= @post.トップス %></li>
          <li class="list-group-item">ボトムス: <%= @post.ボトムス %></li>
          <li class="list-group-item">バッグ: <%= @post.バッグ %></li>
          <li class="list-group-item">アクセサリー: <%= @post.アクセサリー %></li>
          <li class="list-group-item">Item: <%= @post.comment %></li>
          <li class="list-group-item">Location: <%= @post.location %></li>
        </ul>
      </div>
    </div>
    <div class="col-md-12">
      
      <h1>hello</h1>
    </div>


  </div>
</div>
