<!DOCTYPE html>
<html>
  <head>
    <title>IconU</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFgIIopBogLXCey9WtcwT5A_ONlu3rnbg&callback=initMap"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render'shared/navbar' %>
    <%= render'shared/message' %>


    <%= yield %>
  </body>
</html>
